body {
    background-image: url(../img/imagemFundo.png);
}

header {
    position: absolute;
    /*overflow: hidden;*/
    width: 100%;
    max-width: 1440px;
    height: 90%;
    max-height: 200px;
    left: 0px;
    top: -9px;
    
    background: rgba(98, 4, 3, 0.69);
}

.nav-inicio {
    position: absolute;
    width: 53px;
    height: 50px;
    left: 44px;
    top: 147px;

    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: rgba(151, 150, 150, 0.78);

    text-shadow: -4px 3px 10px rgba(0, 0, 0, 0.14);
}

.nav-inicio:hover {
    color: #FFFFFF;
} 

.nav-filmes {
    position: absolute;
    width: 52px;
    height: 50px;
    left: 130px;
    top: 147px;

    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: rgba(255, 255, 255, 0.78);

    text-shadow: -4px 3px 10px rgba(0, 0, 0, 0.14);
}

.nav-filmes:hover {
    color: #ffffff;
}

.nav-series {
    position: absolute;
    width: 55px;
    height: 50px;
    left: 216px;
    top: 147px;

    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: rgba(151, 150, 150, 0.78);

    text-shadow: -4px 3px 10px rgba(0, 0, 0, 0.14);
}

.nav-series:hover {
    color: #FFFFFF;
}

.nav-mais {
    position: absolute;
    width: 55px;
    height: 51px;
    left: 302px;
    top: 147px;

    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: rgba(141, 141, 141, 0.78);

    text-shadow: -4px 3px 10px rgba(0, 0, 0, 0.14);
}

.nav-mais:hover {
    color: #FFFFFF;
}

.logo {
    width: 400px;

    position: absolute;
    left: 455px;
    top: 120px;
}

.lupa{
    position: absolute;
    left: 1230px;
    top: 150px;

    color: rgba(141, 141, 141, 0.78);
}

.lupa:active, .lupa:hover {
    color: #FFFFFF;
}

.perfil {
    position: absolute;
    left: 1280px;
    top: 150px;
}

.titulo {
    position: absolute;
    width: 239px;
    height: 134px;
    left: 530px;
    top: 250px;

    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 134px;

    color: rgba(255, 255, 255, 0.8);
}

/*.retangulo-principal {
    position: absolute;
    width: 1368px;
    height: 550px;
    left: 28px;
    top: 390px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}*/

.titulo-1 {
    position: absolute;
    width: 543px;
    height: 109px;
    left: 38px;
    top: 470px;

    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 67px;

    color: #FFFFFF;
}

.retangulo-1 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 30px;
    top: 550px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-2 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 350px;
    top: 550px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-3 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 670px;
    top: 550px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-4 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 990px;
    top: 550px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.titulo-2 {
    position: absolute;
    width: 543px;
    height: 109px;
    left: 38px;
    top: 1000px;

    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 67px;

    color: #FFFFFF;
}

.retangulo-6 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 30px;
    top: 1090px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-7 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 350px;
    top: 1090px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-8 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 670px;
    top: 1090px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-9 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 990px;
    top: 1090px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.titulo-3 {
    position: absolute;
    width: 543px;
    height: 109px;
    left: 28px;
    top: 1550px;

    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 67px;

    color: #FFFFFF;
}

.retangulo-11 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 30px;
    top: 1650px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-12 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 350px;
    top: 1650px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-13 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 670px;
    top: 1650px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-14 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 990px;
    top: 1650px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.titulo-4 {
    position: absolute;
    width: 554px;
    height: 52px;
    left: 28px;
    top: 2090px;

    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 67px;

    color: #FFFFFF;
}

.retangulo-16 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 30px;
    top: 2190px;
    
    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-17 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 350px;
    top: 2190px;
    
    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-18 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 670px;
    top: 2190px;
    
    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-19 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 990px;
    top: 2190px;
    
    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

footer {
    position: absolute;
    overflow: hidden;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    max-height: 250px;
    top: 2700px;

    background: rgba(98, 4, 3, 0.69);
    box-shadow: -2px -10px 21px rgba(0, 0, 0, 0.25);
}

.titulo-6 {
    position: absolute;
    width: 497px;
    height: 52px;
    left: 100px;
    top: 40px;

    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 41px;

    color: #ffffff;
}

.fa-linkedin {
    position: absolute;
    width: 50px;
    height: 45px;
    left: 240px;
    top: 80px;

    color: #FFFFFF;
}

.fa-linkedin:hover {
    color: #007bb6;
}

.novidades {
    position: absolute;
    width: 608px;
    height: 32px;
    left: 700px;
    top: 40px;

    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;

    color: #FFFFFF;
}

.email {
    position: absolute;
    width: 493px;
    height: 53px;
    left: 670px;
    top: 90px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;

    color: #FFFFFF;
    background: #1E1E1E;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
}

::placeholder {
 position: absolute;
 top: 8px;
 left: 20px;
 font-family: 'Jost';
 font-style: normal;
 font-weight: 400;
 font-size: 28px;
 line-height: 40px;

 color: rgba(255, 255, 255, 0.28);
}

.copyright { 
    position: absolute;
    top: 200px;
    left: 600px;

    font-family: 'Jockey One';
    font-size: 20px;
    color: #ffffff;
}

.img-poster {
    height: 400px; 
    width: auto;
    border-radius: 20px;
}

.img-nao-encontrada {
    display: block;
    min-width: 300px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #dbdbdb;
    background-size: 50%;
    box-sizing: border-box;
    border-radius: var(--imageBorderRadius);
    border: 1px solid #d7d7d7;
    border-radius: 20px;
}