html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #620403;
  box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);
}

.cover-container {
  color: rgb(8, 8, 8);  
}

.top {
  max-width: 42em;
  color: rgb(255, 255, 255);  

}

.btn-group-lg>.btn, .btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 0.5rem;
  background-color: #ffffff;
  color: #f50202; 
}

.bg-branco:hover {
  
  color: #f50202;
  transition: 0.2s ease-in-out;
}

.btn-entrar:hover {
  background-color: #620403;
  color: #ffffff;
  text-shadow: none; /* Prevent inheritance from `body` */
  transition: 0.2s ease-in-out;
}

.fw-normal {
  font-weight: 400!important;
  color: #fffbfb;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  border-radius: 20px;
  background-color: #1E1E1E;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
  color: #f50202;

}

.form-signin input[type="email"] {
  margin-bottom: 1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.checkbox {
  margin: 10px;
  color: #fff;
}

.conta {
  color: #fff;
}


.cadastrar {
  color: #f50202;
  
}

.cadastrar:hover {
  color: #ffffff;
  
}

