html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #620403;
  background-image: url(../img/imagemFundo.png);
}

.cover-container {
  color: rgb(8, 8, 8);  
}

.top {
  max-width: 42em;
  color: rgb(255, 255, 255);  
}

.btn-group-lg>.btn, .btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 0.5rem;
  background-color: #ffffff;
  color: #f50202; 
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 125px;
  font-weight: 500;
  font-family: 'Jockey One', sans-serif;
}

.bg-branco:hover {
  
  color: #f50202;
  transition: 0.2s ease-in-out;
}

.btn-entrar:hover {
  background-color: #620403;
  color: #ffffff;
  text-shadow: none; /* Prevent inheritance from `body` */
  transition: 0.2s ease-in-out;
}

.monkersbranco {
  text-align: center;
  width: 110px;
}

.fw-normal {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  color: #fffbfb;
  font-family: 'Jockey One', sans-serif;
}

.form-signin {
  align-items: center;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(30, 30, 30, 0.65);
}

.form-signin .form-floating:focus-within {
  z-index: 2;
  color: #f50202;

}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: 'Jockey One', sans-serif;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: 'Jockey One', sans-serif;
}

.checkbox {
  margin: 10px;
  color: #fff;
}

.entrar {
  color: #fff;
  font-weight: 700;
  top: 100px;
}


.conta {
  color: #fff;
  font-family: 'Jockey One', sans-serif;
}


.cadastrar {
  color: #f50202;
  
}

.cadastrar:hover {
  color: #ffffff;
  
}

.checkbox {
  font-family: 'Jockey One', sans-serif;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d!important;
  font-family: 'Jockey One', sans-serif;
}

.form-control::placeholder { 
  color: red;
  opacity: 1; 
}

.form-control:-ms-input-placeholder {
  color: red;
}

.form-control::-ms-input-placeholder {
  color: red;
}

.fa-chevron-left {
  position: absolute;
  left: -900px;
  right: 26.81%;
  top: 4.37%;
  bottom: 85.28%;

  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;

  color: rgba(156, 156, 156, 0.78);
}

.fa-chevron-left:hover {
  color: #FFFFFF;
}
