body {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(19, 0, 0, 0.7) 100%) ,url(../img/imagemFundo.png);
    text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
}

header {
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 90%;
    max-height: 200px;
    left: 0px;
    top: -9px;
    
}

.fa-chevron-left {
    position: absolute;
    top: 120px;
    left: 60px;
    color: rgb(255, 255, 255);
}

.fa-chevron-left:hover {
    color: gray;
}

.lupa{
    position: absolute;
    left: 1230px;
    top: 120px;

    color: rgb(255, 255, 255);
}

.lupa:active, .lupa:hover {
    color: gray;
}

.perfil {
    position: absolute;
    left: 1280px;
    top: 120px;
}

.titulo-1 {
    position: absolute;
    width: 100%;
    max-width: 1300px;
    height: 89px;
    left: 22px;
    top: 190px;

    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 89px;

    color: rgba(255, 255, 255, 0.78);
}

.retangulo-1 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 22px;
    top: 288px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.sinopse-1 {
    position: absolute;
    width: 100%;
    max-width: 900px;
    height: 42px;
    left: 445px;
    top: 300px;

    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;

    color: #FFFFFF;
}

.sinopse-2 {
    position: absolute;
    width: 100%;
    max-width: 820px;
    height: 336px;
    left: 445px;
    top: 440px;

    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;

    color: #FFFFFF;
}

.titulo-2 {
    position: absolute;
    width: 554px;
    height: 52px;
    left: 41px;
    top: 900px;

    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;

    color: #FFFFFF;
}

.retangulo-2 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 33px;
    top: 960px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-3 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 297px;
    top: 960px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-4 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 556px;
    top: 960px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-5 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 821px;
    top: 960px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-6 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 1090px;
    top: 960px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.titulo-3 {
    position: absolute;
    width: 554px;
    height: 52px;
    left: 23px;
    top: 1280px;

    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;

    color: #FFFFFF;
}

.retangulo-7 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 30px;
    top: 1350px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-8 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 294px;
    top: 1350px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-9 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 554px;
    top: 1350px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-10 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 818px;
    top: 1350px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-11 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 1087px;
    top: 1350px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-12 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 30px;
    top: 1680px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-13 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 294px;
    top: 1680px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-14 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 554px;
    top: 1680px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-15 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 818px;
    top: 1680px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.retangulo-16 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 1087px;
    top: 1680px;

    background: #1E1E1E;
    box-shadow: inset 11px 12px 22px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

footer {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 250px;
    top: 2050px;

    
    background: rgba(98, 4, 3, 0.69);
    box-shadow: -2px -10px 21px rgba(0, 0, 0, 0.25);
}

.titulo-6 {
    position: absolute;
    width: 497px;
    height: 52px;
    left: 100px;
    top: 40px;

    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 41px;

    color: #ffffff;
}

.fa-linkedin {
    position: absolute;
    width: 50px;
    height: 45px;
    left: 240px;
    top: 90px;

    color: #FFFFFF;
}

.fa-linkedin:hover {
    color: #007bb6;
}

.novidades {
    position: absolute;
    width: 608px;
    height: 32px;
    left: 700px;
    top: 40px;

    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;

    color: #FFFFFF;
}

.email {
    position: absolute;
    width: 493px;
    height: 53px;
    left: 670px;
    top: 110px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;

    color: #FFFFFF;
    background: #1E1E1E;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
}

::placeholder {
 position: absolute;
 top: 8px;
 left: 20px;
 font-family: 'Jost';
 font-style: normal;
 font-weight: 400;
 font-size: 28px;
 line-height: 40px;

 color: rgba(255, 255, 255, 0.28);
}

.copyright { 
    position: absolute;
    top: 200px;
    left: 610px;

    font-family: 'Jockey One';
    font-size: 20px;
    color: #ffffff;
}

.img-poster {
    height: 580px; 
    width: auto;
    border-radius: 20px;
}

.img-elenco, .img-similar, .img-recomendacao {
    /*height: 580px;*/
    width: auto;
    border-radius: 20px;
}

.img-poster-nao-encontrado {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: 580px;
    width: 410px;
    background-color: #dbdbdb;
    background-size: 50%;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #d7d7d7;
}

.img-nao-encontrada {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    background-color: #dbdbdb;
    background-size: 50%;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #d7d7d7;
}