<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perfil - Monker's</title>
        <link href="../../css/perfil.css" rel="stylesheet">
        <link href="../../css/responsive/perfilresponsive.css" rel="stylesheet" Media="screen and (max-width: 1440px)">
        <link rel="icon" href ="../../img/logoMonkers.png"/>
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Jaldi&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div>
                <a href="../../Views/Catalogo/catalogo.html">
                    <i class="fa-solid fa-chevron-left fa-2x" ></i>
                </a>
                
                <h1 class="titulo">BEM VINDO AO SEU PERFIL, O QUE VAMOS MUDAR HOJE?</h1>
            </div>
        </header>

        <main>
            <div>
                <img src="../../img/foto-perfil.png" class="perfil" id="img-foto-perfil"/>
                <p class="titulo-1">NOME:</p>
            </div>

            <div class="retangulo">
                <p class="nome" id="nome-usuario">XXXX</p>
            </div>

            <div>
                <p class="titulo-2">ESCOLHA O ICONE DO SEU PERFIL:</p>
                <img src="../../img/foto-perfil.png" class="perfil-1" >
                <img src="../../img/foto-perfil.png" class="perfil-2" >
                <img src="../../img/foto-perfil.png" class="perfil-3" >
                <img src="../../img/foto-perfil.png" class="perfil-4" >
                <img src="../../img/foto-perfil.png" class="perfil-5" >
            </div>
        </main>

        <footer>
            <div class="titulo-6">
                <p>rede dos desenvolvedores do projeto</p>
            </div>

            <a href="../../Views/Principais/sobre.html">
                <i class="fa-brands fa-linkedin fa-4x" ></i>
            </a>
        
            <div>
                <p class="novidades">RECEBA AS NOVIDADES DO MONKER’S </p>

                <form>
                    <input type="email" class="email" id="floatingInput" placeholder="Insira seu e-mail">
                    <label for="floatingInput"></label>
                </form>
            </div>

            <p class="copyright">&copy; Monker's 2022</p>
        </footer>

        <script src="../../js/Perfil/perfil.js"></script>
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
    </body>
</html>