<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Catálogo - Monker's</title>
        <link href="../../css/catalogo.css" rel="stylesheet">
        <link rel="icon" href ="../../img/logoMonkers.png"/>
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <nav>
                <a class="nav-inicio" href="">INÍCIO</a>
                <a class="nav-filmes" href="">FILMES</a>
                <a class="nav-series" href="">SÉRIES</a>
                <a class="nav-mais" href="">MAIS</a>
            </nav>

            <div>
                <img class="logo" src="../../img/eric.png">
            </div>

            <div>
    
                <img class="perfil" src="../../img/raul.png">
            </div>
        </header>
    </body>
</html>