<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Catálogo - Monker's</title>
        <link href="../../css/catalogo.css" rel="stylesheet">
        <link href="../../css/responsive/catalogoresponsive.css" rel="stylesheet" Media = "screen and (max-width: 1440px)">
        <link rel="icon" href ="../../img/logoMonkers.png"/>
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Jaldi&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
        <Script Src="../../js/Catalogo/catalogo.js"></Script>
        <link rel="stylesheet" href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css">
    </head>

    <body>
        <header>
            <div>
                <div id="lupa" onclick="action()">
                    <a class="nav-masterhead nav-inicio active" href="">INÍCIO</a>
                    <a class="nav-filmes" href="../../Views/Catalogo/catalogoFilmes.html">FILMES</a>
                    <a class="nav-series" href="../../Views/Catalogo/catalogoSeries.html">SÉRIES</a>
                    <a class="nav-mais" href="">MAIS</a>
                </div>
            </div>

            <div>
                <img class="logo" src="../../img/monkerstitulo.png">
            </div>

            <div>
                <a href="">
                    <i class="fa-solid fa-magnifying-glass lupa fa-2x"></i>
                </a>
                <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-perfil dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../../img/foto-perfil.png" alt="foto-perfil" width="32" height="32" class="rounded-circle perfil" id="img-foto-perfil">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow menu-perfil">
                            <li><a class="dropdown-item" href="../../Views/Perfil/perfil.html">Perfil</a></li>
                            <li><a class="dropdown-item" href="#">Configurações</a></li>
                            <li><a class="dropdown-item" href="#">Contato</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="../../Views/Login/login.html" id="menu-sair">Sair</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <h1 class="titulo">OLÁ <b id="b-nome-usuario">******</b>, O QUE VAMOS VER HOJE?</h1>

            <div>
                <P class="texto-1">FILMES MAIS ASSISTIDOS NO MOMENTO🔥</P>
                <div class="container-1">
                    <button class="seta-esquerda">◀</button>
                    <button class="seta-direita">▶</button>
                    <div class="retangulo-1">
                        <img id="filme-1" class="img-poster"/>
                    </div>
                    <div class="retangulo-2">
                        <img id="filme-2" class="img-poster"/>
                    </div>
                    <div class="retangulo-3">
                        <img id="filme-3" class="img-poster"/>
                    </div>
                    <div class="retangulo-4">
                        <img id="filme-4" class="img-poster"/>
                    </div>
                </div>
            </div>

            <div>
                <p class="titulo-2">SÉRIES MAIS ASSISTIDAS NO MOMENTO🔥</p>
                <div class="container-2">
                    <div class="retangulo-6">
                        <img id="serie-1" class="img-poster"/>
                    </div>
                    <div class="retangulo-7">
                        <img id="serie-2" class="img-poster"/>
                    </div>
                    <div class="retangulo-8">
                        <img id="serie-3" class="img-poster"/>
                    </div>
                    <div class="retangulo-9">
                        <img id="serie-4" class="img-poster"/>
                    </div>
                </div>
            </div>

            <div>
                <p class="titulo-3">CRIME</p>
                <div class="container-3">
                    <div class="retangulo-11">
                        <img id="crime-1" class="img-poster"/>
                    </div>
                    <div class="retangulo-12">
                        <img id="crime-2" class="img-poster"/>
                    </div>
                    <div class="retangulo-13">
                        <img id="crime-3" class="img-poster"/>
                    </div>
                    <div class="retangulo-14">
                        <img id="crime-4" class="img-poster"/>
                    </div>
                </div>
            </div>

            <div>
                <p class="titulo-4">ATUALIZAÇÕES DA SEMANA</p>
                <div class="container-4">
                    <div class="retangulo-16">
                        <img id="atualizacao-1" class="img-poster"/>
                    </div>
                    <div class="retangulo-17">
                        <img id="atualizacao-2" class="img-poster"/>
                    </div>
                    <div class="retangulo-18">
                        <img id="atualizacao-3" class="img-poster"/>
                    </div>
                    <div class="retangulo-19">
                        <img id="atualizacao-4" class="img-poster"/>
                    </div>
                </div>
            </div>

            <div>
                <p class="titulo-5">DOCUMENTÁRIO</p>
                <div class="container-5">
                    <div class="retangulo-21">
                        <img id="documentario-1" class="img-poster"/>
                    </div>
                    <div class="retangulo-22">
                        <img id="documentario-2" class="img-poster"/>
                    </div>
                    <div class="retangulo-23">
                        <img id="documentario-3" class="img-poster"/>
                    </div>
                    <div class="retangulo-24">
                        <img id="documentario-4" class="img-poster"/>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="titulo-6">
                <p>rede dos desenvolvedores do projeto</p>
            </div>

            <a href="../../Views/Principais/sobre.html">
                <i class="fa-brands fa-linkedin fa-4x" ></i>
            </a>
        
            <div>
                <p class="novidades">RECEBA AS NOVIDADES DO MONKER’S </p>

                <form>
                    <input type="email" class="email" id="floatingInput" placeholder="Insira seu e-mail">
                    <label for="floatingInput"></label>
                </form>
            </div>

            <p class="copyright">&copy; Monker's 2022</p>
        </footer>

        <script src="https://getbootstrap.com/docs/5.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../../js/menu.js"></script>
    </body>
</html>