<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pesquisa - Monker's</title>
        <link href="../../css/pesquisa.css" rel="stylesheet">
        <!-- <link href="../../css/responsive/catalogoresponsive.css" rel="stylesheet" Media = "screen and (max-width: 1440px)"> -->
        <link rel="icon" href ="../../img/logoMonkers.png"/>
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Jaldi&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css">
        <Script Src="../../js/Catalogo/pesquisa.js"></Script>
    </head>

    <body>
        <header>
            <a href="../../Views/Catalogo/catalogo.html">
                <i class="fa-solid fa-chevron-left fa-2x" ></i>
            </a>

            <a>
                <i class="fa-solid fa-magnifying-glass lupa fa-2x"></i>
            </a>
        </header>

        <main>
            <h1 class="titulo" id="titulo-pesquisa"><b id="tipo-entreterimento">Tipo</b> MAIS ASSISTIDOS NO MOMENTO 🔥</h1>

            <form>
                <input type="search" class="pesquisa" id="campo-de-busca" onkeypress="validaCampoDePesquisa()" onsubmit="validaCampoDePesquisa()" onchange="validaCampoDePesquisa()"/>
                <label for="campo-de-busca"></label>
            </form>

            <div class="retangulo-1">
                <a id="detalhes-entreterimento" href="./selecao.html">
                    <img id="entreterimento-1" class="img-poster"/>
                </a>
            </div>

            <div class="retangulo-2">
                <a id="detalhes-entreterimento" href="./selecao.html">
                    <img id="entreterimento-2" class="img-poster"/>
                </a>
            </div>

            <div class="retangulo-3">
                <a id="detalhes-entreterimento" href="./selecao.html">
                    <img id="entreterimento-3" class="img-poster"/>
                </a>
            </div>
        </main>

        <footer>
            <div class="titulo-6">
                <p>rede dos desenvolvedores do projeto</p>
            </div>

            <a href="../../Views/Principais/sobre.html">
                <i class="fa-brands fa-linkedin fa-4x" ></i>
            </a>
        
            <div>
                <p class="novidades">RECEBA AS NOVIDADES DO MONKER’S </p>

                <form>
                    <input type="email" class="email" id="floatingInput" placeholder="Insira seu e-mail">
                    <label for="floatingInput"></label>
                </form>
            </div>

            <p class="copyright">&copy; Monker's 2022</p>
        </footer>
    </body>
</html>