<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
  <div class="container text-center">
    <div class="grid row row-cols-lg-5 g-2 g-lg-3">
      <div class="col">
        <div class="p-3">
          <img src="https://flixpatrol.com/runtime/cache/files/posters/1/w72/1chp8qqjgwqwapzwjzcridlt5xs.webp" class="rounded-circle" height="100px" width="100px">
        </div>
      </div>
      <div class="col">
        <div class="p-3">
          <img src="https://flixpatrol.com/runtime/cache/files/posters/4/w72/4fkz8gx3laxufktpw20ionnytwv.webp" class="rounded-circle" height="100px" width="100px">
        </div>
      </div>
      <div class="col">
        <div class="p-3">
          <img src="https://flixpatrol.com/runtime/cache/files/posters/m/w72/mycbuvgqgwplunzqusdhfbszp1h.webp" class="rounded-circle" height="100px" width="100px">
        </div>
      </div>
      <div class="col">
        <div class="p-3">
          <img src="https://flixpatrol.com/runtime/cache/files/posters/c/w72/cgpsxh9bbja7sxplxn6mpa8jtq.webp" class="rounded-circle" height="100px" width="100px">
        </div>
      </div>
      <div class="col">
        <div class="p-3">
          <img src="https://flixpatrol.com/runtime/cache/files/posters/d/w72/dpiw4hlyygsdagn57m1zl2snpaz.webp" class="rounded-circle" height="100px" width="100px">
        </div>
      </div>
    </div>
  </div>
</body>
</html>